---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
import Bullet from '../../components/icons/bullet.svg.astro';
import JobGallery from '../../components/JobGallery.astro';
import JobNav from '../../components/JobNav.astro';

export async function getStaticPaths() {
  const workEntries = await getCollection('work');
  const workCount = workEntries.length;

  return workEntries.map((job, i) => ({
    params: { slug: job.slug },
    props: {
      job,
      prevJob: i === 0
        ? workEntries[[workCount - 1]]
        : workEntries[i - 1],
      nextJob: i === workCount - 1
          ? workEntries[0]
          : workEntries[i + 1]
    },
  }));
}

const { job, prevJob, nextJob } = Astro.props;
const { slug } = job;
const { title, location, year, images } = job.data;
const { Content } = await job.render();

const heroProps = {
  headline: title,
  textOnly: true
}
---

<Layout slug={slug} title={title} heroProps={heroProps}>
  <section class="job">
    <div class="job-description">
      <p class="job-meta u-mb-lg">
        <span class="job-meta-location">{location}</span>
        <Bullet />
        <span class="job-meta-year">{year}</span>
      </p>
      <Content />

      <h2 class="job-more-heading">More work</h2>

      <JobNav
        prevSlug={prevJob.slug}
        prevTitle={prevJob.data.title}
        nextSlug={nextJob.slug}
        nextTitle={nextJob.data.title}
      />
    </div>

    <JobGallery images={images} slug={slug}  />
  </section>
</Layout>

<style is:global lang="scss">
	@import '../../styles/global';

  .job {
    width: 1110px;
    max-width: calc(100% - #{$sp-xxl});
    padding: $sp-xl $sp-xl $sp-xl $sp-xl;
    margin-top: -$sp-xxl*2;
    background-image: radial-gradient(at top left, $navy-medium, $navy-dark 100%);
    border-radius: $radius-md;
  }

  .job-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 1em;
    }
  }
</style>